
/**
 * Improvely
 */

.logo[data-logo="Improvely"] {
  width: 4.298461538em;
  /* (8.89/1.82) * (1-.06-.06) - 0 */
}

.logo[data-logo="Improvely"] > *,
.logo[data-logo="Improvely"][data-color="light"] > * {
  background-image: url(images/logo.svg);
  margin: .06em 0;
}

.logo[data-logo="Improvely"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Improvely"][data-color="dark"] > *,
.logo[data-logo="Improvely"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
